Source: alien
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Cevat Bostancioglu <bostancioglucevat@gmail.com>
Standards-Version: 4.3.0
Vcs-Git: git@github.com:cevatbostancioglu/alien.git
Homepage: https://github.com/cevatbostancioglu/alien

Package: alien
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, rpm (>= 2.4.4-2), dpkg-dev, make, cpio, rpm2cpio
Suggests: patch, bzip2, lintian, lzma
Description: convert and install rpm and other packages
 Alien allows you to convert LSB, Red Hat, Stampede and Slackware Packages
 into Debian packages, which can be installed with dpkg.
 .
 It can also generate packages of any of the other formats.
 .
 This is a tool only suitable for binary packages.
